In [60]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

%matplotlib inline

In [61]:
df=pd.read_excel('Data.xlsx')

In [62]:
df

                State Victim Sex  Year
0              Alaska       Male  1980
1              Alaska       Male  1980
2              Alaska     Female  1980
3              Alaska       Male  1980
4              Alaska     Female  1980
5              Alaska       Male  1980
6              Alaska     Female  1980
7              Alaska     Female  1980
8              Alaska       Male  1980
9              Alaska       Male  1980
10             Alaska       Male  1980
11             Alaska       Male  1980
12             Alaska     Female  1980
13             Alaska       Male  1980
14             Alaska       Male  1980
15             Alaska       Male  1980
16             Alaska       Male  1980
17             Alaska       Male  1980
18             Alaska       Male  1980
19             Alaska       Male  1980
20             Alaska     Female  1980
21             Alaska       Male  1980
22             Alaska       Male  1980
23             Alaska     Female  1980
24             Alaska     Female  1980
25             Alaska     Female  1980
26             Alaska       Male  1980
27             Alaska       Male  1980
28             Alaska       Male  1980
29             Alaska       Male  1980
...               ...        ...   ...
638424  West Virginia       Male  2014
638425  West Virginia     Female  2014
638426  West Virginia     Female  2014
638427  West Virginia       Male  2014
638428  West Virginia       Male  2014
638429  West Virginia       Male  2014
638430  West Virginia     Female  2014
638431  West Virginia     Female  2014
638432  West Virginia       Male  2014
638433  West Virginia     Female  2014
638434  West Virginia       Male  2014
638435  West Virginia       Male  2014
638436  West Virginia       Male  2014
638437  West Virginia       Male  2014
638438  West Virginia     Female  2014
638439  West Virginia       Male  2014
638440        Wyoming       Male  2014
638441        Wyoming       Male  2014
638442        Wyoming     Female  2014
638443        Wyoming       Male  2014
638444        Wyoming       Male  2014
638445        Wyoming       Male  2014
638446        Wyoming     Female  2014
638447        Wyoming     Female  2014
638448        Wyoming       Male  2014
638449        Wyoming       Male  2014
638450        Wyoming       Male  2014
638451        Wyoming     Female  2014
638452        Wyoming       Male  2014
638453        Wyoming     Female  2014

[638454 rows x 3 columns]

In [89]:
ds=df.groupby(['State','Victim Sex','Year'])
dm=ds.size()
dm

State    Victim Sex  Year
Alabama  Female      1980    131
                     1981    102
                     1982     90
                     1983     85
                     1984     96
                     1985     93
                     1986     94
                     1987     84
                     1988     90
                     1989     98
                     1990    114
                     1991    108
                     1992     76
                     1993    117
                     1994    113
                     1995     98
                     1996     87
                     1997     95
                     1998     77
                     1999      3
                     2000     57
                     2001     88
                     2002     68
                     2003     70
                     2004     57
                     2005     68
                     2006     77
                     2007     83
                     2008     69
                     2009     83
                            ...
Wyoming  Male        1985     12
                     1986     19
                     1987      6
                     1988      9
                     1989     16
                     1990     15
                     1991      9
                     1992     13
                     1993      8
                     1994     14
                     1995      9
                     1996     10
                     1997     11
                     1998      7
                     1999     11
                     2000      8
                     2001      9
                     2002     10
                     2003     12
                     2004      6
                     2005     15
                     2006      7
                     2007     11
                     2008      7
                     2009     11
                     2010      4
                     2011     16
                     2012     10
                     2013     12
                     2014      9
dtype: int64